header {
    background-color: #212226;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 75px;
    width: 100%;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 5px 0 0;
    font-size: 1.2em;
}

.foto-perfil {
    margin-top: 20px;
    margin-bottom: 20px;
}

.foto-perfil img {
    /*Deixa a foto de perfil redonda e com borda sólida*/
    border-radius: 50%;
    border: 5px solid white;
    width: 150px;
    height: 150px;
}


.foto {
    margin-top: 100px;
    margin-bottom: 100px;
}

.foto img {
    /*Deixa a foto de perfil redonda e com borda sólida*/
    /*border-radius: 100%; */
    border: 5px solid white;
    width: 400px;
    height: 400px;
}



.texto-apresentacao .social {
    background: #525259;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: center;
}

.texto-apresentacao p {
    display: inline-block;
    max-width: 800px;
}

.contatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
}

.email {
    margin-bottom: 10px;
}

/* Mobile */
@media (max-width: 600px){
    .texto-apresentacao p {
        max-width: 500px;
    }
}